
.taskHead{
  flex-basis: 67%;
}
.statusHead{
  flex-basis: 10%;
}
.editHead{
  flex-basis: 10%;
}
.removeHead{
  flex-basis: 10%;
}
.list-group{
  margin: 20px;
}

.task{
  flex-basis: 67%;
}

li.item{
  transition: .5s;
}

.item{
  border-radius: 5px;
}

.item:hover{
  box-shadow: 0px 5px 10px 4px #aaa;
}

.fa-edit{
  color: #218838;
  max-width: 11px;
  min-width: auto;
  cursor: pointer;
  flex-basis: 1%;
}

.fa-trash{
  color: #C82333;
  cursor: pointer;
  max-width: 11px;
  min-width: auto;
  flex-basis: 1%;
}

.status{
  border-radius: 6px;
  border: 1px solid #eee;
  margin: auto;
  max-width: 105px;
  min-width: 102px;
  cursor: pointer;
  flex-basis: 10%;
}

.Not-Started{
  background-color: #f47721 !important;
}
.leftBorderNot-Started{
  border-left: 5px solid #f47721;
}

.In-Progress{
  background-color: #00a4e4 !important;
}
.leftBorderIn-Progress{
  border-left: 5px solid #00a4e4;
}

.canceled{
  background-color: #ed1b2e !important;
}
.leftBordercanceled{
  border-left: 5px solid #ed1b2e;
}

.completed{
  background-color: #0abf53 !important;
}
.leftBordercompleted{
  border-left: 5px solid #0abf53;
}