body{
  background-color: #eee;
}

.list-group-item{
  display: inline-block;
  cursor: pointer;
  width: 70%;
}

.completed{
  color: gray;
  text-decoration: line-through;
}

.commonStyleButton {
  margin: 16px;
  padding: 12px;
}
